client/node_modules
client/.env
client/.env.production
.env
client/dist
**/.DS_Store
server/nohup.out
server/app.log
__pycache__/
*.pyc
.env.*
node_modules/
dist/
.venv/
venv/
ENV/
uploads/
tmp/
nohup.out
*.log
